#navbar .logo{
    float: none;
    text-align: center;
}
#navbar ul,
#navbar ul li{
    float: none;
}
#navbar ul li a{
    border-bottom: 1px #444 dotted;
    padding:5px;
}
/* Showcase */
#showcase{
    height: 100%;
}
#showcase .showcase-content{
    padding: 70px 0 30px 0;
}

/* Home info */
#home-info{
    height: 500px;
}
#home-info .info-img{
    display: none;
}
#home-info .info-content{
    float: none;
    width: 100%;
}
/* Boxes */
.box{
    float: none;
    width: 100%;
}
/* About-Info Page */
#about-info .info-right,
#about-info .info-left{
    float: none;
    width: 100%;
}
#about-info .info-right{
    margin-top: 30px;
}
.l-heading{
    text-align: center;
}

/* Contact */
#contact-info .box{
    border-bottom: #444 dotted 1px;
}

@media (max-height:450px){
body{
    display: none;
}
}